@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

/* Custom Placeholder Style */
.tiptap p.is-editor-empty:first-child::before,
.tiptap p.is-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #d1d1d1;
  pointer-events: none;
  height: 0;
  font-weight: 300;
  font-size: 0.875rem;
}
